@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 20px;

	p {
		align-items: center;
	}
}

.result-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;

	.result {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p:first-child {
			font-size: 64pt;
		}
	}
}

.score {
    font-weight: 700;
    font-size: 24pt;
}

.choose {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;

		button {
			font-size: 32pt;
            cursor: pointer;
		}
	}
}
